@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUIT-Medium';
    ;
}

:root {
    --main-color : #724330;
    --text-color : #452613;
}


header {
    width: 100%;
    height: 100px;
    background: var(--text-color);
    display: flex;
}

.wraper {
    width: 1472px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

header ul {
    display: flex;
    width: 470px;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

nav > h1 {
    margin-right: 100px;
}

header ul li > a {
    color: #fdfdfd;
}

.hidden-menu {
    display: none;
}

.header-search {
    width: 540px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
}

.header-search > input {
    width: 490px;
    background: var(--text-color);
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    color: #fdfdfd;
}

.header-search > button {
    background: var(--text-color);
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
}

.header-search > img {
    width: 24px;
    height: 24px;
}

/* ---------slider----------------- */

.slider-container {
    padding: 0;
}

.slider li img {
    width: 100%;
    height: 100%;
}

.slider-all-container {
    position: relative;
}

.container {
    width: 100%;
    height: 681px;
    font-size: 100px;
    color: #fff;
    text-align: center;
    line-height: 500px;
    overflow: hidden;
    margin-bottom: 8px;
    margin: 0 auto;
}

.container > ul {
    transition: 1s;
    height: 681px;
    display: flex;
}

.container li {
    width: 100%;
    height: 681px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.buttons button {
    margin: 0 30px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--text-color);
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button>img {
    width: 24px;
    height: 24px;
}

.button-container {
    width: auto;
    height: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------slider----------------- */
.dot {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background-color: #fdfdfd;
    margin: 0 5px;
    cursor: pointer;
}

.active2 {
    background-color: var(--text-color);
}

.mega-introduction {
    position: relative;
    width: 1903px;
}

.left-back-yellow {
    width: 100%;
    height: 678px;
    background: #FED337;
    position: relative;
}

.left-title-text {
    padding: 123px 0 0 340px;
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 32px;
    color: var(--main-color);
}

.big-text {
    font-size: 80px;
    color: #724330;
    font-weight: 900;
    text-shadow: 5px 5px 5px #00000042;
}

.right-back-brown {
    position: absolute;
    top: 0;
    right: 0;
}

.middle-coffee-img {
    position: absolute;
    top: 100px;
    right: 417px;
    z-index: 999;
}

.introduction-container {
    width: 400px;
    margin-left: 340px;
}

.controller {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 25px 0 32px 0;
    padding: 0;
}

.controller li > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #724330;
    box-shadow: 2px 3px 5px #724330;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controller li > button:hover {
    box-shadow: inset 2px 3px 3px #00000042;
}

.text-area {
    width: 400px;
    height: 225px;
    background: #fdfdfd;
    border-radius: 27px;
    position: absolute;
    box-shadow: 8px 8px 15px #00000025;
}

.text-area ul {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    transition: left 0.4s;
}

.text-area li {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 225px;
    border-radius: 27px;
    transition: 0.4s;
    opacity: 0;
    box-shadow: 8px 8px 15px #00000025;
}

.btn-title {
    font-size: 24px;
    padding-left: 15px;
}

.block {
    font-size: 16px;
    margin: 23px 0 0 44px;
    display: block;
    line-height: 25px;
}

.text-area ul > li > button {
    width: 50px;
    height: 50px;
    border: 1px solid #452613;
    border-radius: 50%;
    background: #fdfdfd;
    margin: 35px 0 0 44px;
    text-align: center;
}

.text-area li.active {
    opacity: 1;
}

.middle-img {
    position: absolute;
    right: -725px;
    top: -250px;
    z-index: 99999;
}

.title {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > h2 {
    text-shadow: 5px 5px 5px #00000042;
}

.first {
    background: var(--main-color);
}

.text1 {
    color: #fdfdfd;
    opacity: 0.5;
}

.title-small {
    font-size: 18px;
}

.text3 {
    color: #fdfdfd;
    opacity: 1;
    font-size: 32px;
    margin: 0 5px;
}

.representative {
    position: relative;
    transition: 0.5s;
}

.img-zone {
    width: 282px;
    height: 400px;
    transition: 0.5s;
    box-shadow: 5px 10px 20px #00000060;
}

.img-zone > img {
    width: 282px;
    height: 400px;
    transition: 0.5s;
}

.representative-menu {
    width: 100%;
    height: 800px;
    background: url(../image/page2\ back.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.all-representative {
    width: 1430px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0 auto;
}

.to-bottom{
    transform: translateY(200px);  
}

.to-left{
    transform: translateX(-200px);
}

.to-right{
    transform: translateX(200px);
}

.fade {
    opacity: 0;
    transition: 1s;
}

.in {
    opacity: 1;
    transform: none;
}

.poster-container {
    display: flex;
    width: 100%;
}

.black-op {
    transition: 0.5s;
    width: 282px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
}

.box-line {
    width: 225px;
    height: 335px;
    border: 1px solid #fdfdfd;
    margin: 32px 0 0 29px;
}

.block-op-first-text {
    font-size: 24px;
    color: #fdfdfd;
    text-align: center;
    border-bottom: 1px solid #fdfdfd;
    padding: 24px 0;
}

.black-op-small-text {
    font-size: 16px;
    color: #fdfdfd;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    line-height: 21px;
    font-weight: 100;
}

.representative > .img-zone:hover {
    transform: scale(1.1);  
}

.representative > .img-zone:hover .black-op{
    opacity: 1;
}

.hover-coffee {
    position: absolute;
    left: 235px;
    display: none;
}

.representative > p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 21px;
    color: var(--main-color);
}

.more-btn {
    margin: 40px 240px 0 0;
}

.more-btn > button {
    background: none;
    border: none;
    outline: none;
}

.more-btn > button > a {
    color: var(--main-color);
} 

.special-series {
    background: url(../image/page3\ back.jpg);
    overflow: hidden;
}

.second {
    background: #E8BE96;
}

.text2 {
    color: var(--main-color);
}

.text4 {
    font-size: 32px;
    color: var(--main-color);
    margin: 0 5px;
}

.series-conten-all {
    height: 1420px;
    position: relative;
}

.series-content {
    display: flex;
    align-items: center;
}

.series-content > img {
    width: 315px;
    height: 450px;
}

.first-content {
    margin: 70px 0 0 400px;
    position: relative;
}

.hidden-photo3,
.hidden-photo {
    position: absolute;
    top: 12px;
    left: -15px;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-8deg);
    opacity: 0;
    transition: 0.5s;
    box-shadow: -5px 10px 20px #00000060;
}

.hidden-photo2 {
    position: absolute;
    left: 480px;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(8deg);
    opacity: 0;
    transition: 0.5s;
    box-shadow: 5px 10px 20px #00000060;
}

.show-photo {
    z-index: 9999;
    box-shadow: -5px 10px 20px #00000060;
}

.show-photo2 {
    z-index: 9999;
    box-shadow: 5px 10px 20px #00000060;
}

.second-content:hover .hidden-photo2,
.first-content:hover .hidden-photo,
.third-content:hover .hidden-photo3 {
    opacity: 0.5;
}

.series-content1-text {
    width: 460px;
    height: 300px;
    background: #C1A281;
    box-shadow: 5px 10px 20px #00000060;
    z-index: 99999;
}

.content1-brown-op {
    font-size: 18px;
    color: var(--text-color);
    opacity: 0.5;
    margin: 50px 0 6px 50px;
}

.content1-no-op {
    font-size: 32px;
    color: var(--text-color);
    margin: 0 0 23px 50px;
    font-weight: 600;
    text-shadow: 5px 5px 5px #00000025;
}

.content1-small-white-text {
    font-size: 18px;
    color: #fdfdfd;
    margin-left: 50px;
    line-height: 25px;
    font-weight: 100;
}

.series-content1-line {
    width: 433px;
    height: 253px;
    border: 1px solid var(--text-color);
    margin-top: 23px;
    border-left: none;
}

.second-content {
    margin-left: 804px;
    position: relative;
}

.series-content2-text {
    background: rgba(248,206,212,0.9);
    width: 460px;
    height: 300px;
    box-shadow: -5px 10px 20px #00000060;
    z-index: 1;
}

.series-content2-line {
    width: 433px;
    height: 253px;
    border: 1px solid #C54846;
    margin-top: 23px;
    margin-left: 26px;
    border-right: none;
}

.content2-pink-op {
    color: #C54846;
    opacity: 0.5;
    font-size: 18px;
    margin: 37px 0 5px 172px;
}

.content2-no-op {
    color: #973A3A;
    margin: 0 0 23px 67px;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 5px 5px 5px #00000042;
}

.content2-small-pink-text {
    width: 297px;
    height: 77px;
    font-size: 16px;
    margin-left: 60px;
    color: #FF7B79;
    text-align: right;
    line-height: 25px;
}

.second-content:hover .hidden-photo2{
    visibility: visible;
}

.third-content {
    position: relative;
    margin: 0 0 70px 400px;
}

.series-content3-text {
    background: #F8D19E;
    width: 460px;
    height: 300px;
    box-shadow: 5px 10px 20px #00000042;
    z-index: 555;
}

.series-content3-line {
    width: 433px;
    height: 253px;
    border: 1px solid #624526;
    border-left: none;
    margin-top: 23px;
}

.content3-text-op {
    margin: 48px 0 5px 50px;
    font-size: 18px;
    color: var(--main-color);
    opacity: 0.6;
}

.content3-no-op {
    color: #624526;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 5px 5px 5px #00000025;
    margin: 0 0 23px 50px ;
}

.content3-small-text {
    line-height: 25px;
    font-size: 16px;
    color: var(--main-color);
    margin-left: 50px;
}

.circle1 {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: #fdfdfd;
    opacity: 0.4;
    position: absolute;
    bottom: 144px;
    left: 0;
    z-index: 0;
    animation: rotate1 12s linear infinite;
    transform-origin: 50% 10%;
}

@keyframes rotate1 {
    100% {
        transform: rotate(-360deg);
    }
}

.circle2 {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    background: #FFD2D2;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    right: 280px;
    animation: rotate2 10s linear infinite;
    transform-origin: 80% 30%;
}

@keyframes rotate2 {
    100% {
        transform: rotate(360deg);
    }
}

.wrapper2 {
    width: 1300px;
    margin: 0 auto;
}

.sns-section {
    width: 100%;
    background: url(../image/page2\ back.jpg);
}

.third {
    background: var(--main-color);
}

.sns-all-box {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.sns-text {
    background: url(../image/sns-text-back.svg) no-repeat;
    width: 635px;
    height: 470px;
}

.sns-text > h2 {
    margin: 55px 0 18px 90px;
    font-size: 32px;
    text-shadow: 5px 5px 5px #00000042;
    color: var(--main-color);
    font-weight: 600;
}

.sns-text > p {
    margin: 0 0 16px 90px;
    font-size: 24px;
    color: var(--main-color);
    font-weight: 100;
}

.tag-box {
    margin: 0 0 35px 90px;
    color: var(--main-color);
    font-size: 16px;
}

.sns-line {
    width: 394px;
    height: 1px;
    background: var(--main-color);
    margin: 0 0 35px 90px;  
    display: block;
}

.sns-img {
    position: relative;
    margin-left: 90px;
    width: 394px;
    z-index: 99;
}

.sns-img > ul {
    display: flex;
    justify-content: space-between;
}

.tri {
    position: absolute;
    top: 50%;
    right: 0;
    width: 90px;
    height: 90px;
    background: #FED337;
    transform: rotate(45deg) skew(-10deg, -10deg) translate(-50%, -50%);
    box-shadow: 5px 5px 10px #00000060;
    z-index: -1;
} 

.sns-photo {
    width: 578px;
    height: 552px;
    margin-left: 76px;
    display: flex;
    flex-wrap: wrap;
}

.sns-photo:hover > figure {
    filter: brightness(0.5);
}

.sns-photo > figure {
    box-shadow: 5px 5px 10px #00000060;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
}

.sns-photo > figure:hover {
    background-size: 110%;
    filter: brightness(1.0);
}

.sns-photo1 {
    background: url(../image/202101131106397783_l.jpg) no-repeat;
    width: 380px;
    height: 162px;
    margin-right: 7px;
}

.sns-photo2 {
    background: url(../image/sns1.jpg) no-repeat;
    width: 184px;
    height: 162px;
    margin-left: 7px;
}

.sns-photo3 {
    background: url(../image/sns3.jpg) no-repeat;
    width: 184px;
    height: 183px;
    margin: 23px 7px 0 0;
}

.sns-photo4 {
    background: url(../image/sns4.jpg);
    width: 183px;
    height: 183px;
    margin: 23px 7px 0 6px;
}

.sns-photo5 {
    background: url(../image/sns5.jpg);
    width: 184px;
    height: 183px;
    margin: 23px 0 0 7px;
}

.sns-photo6 {
    background: url(../image/sns6.jpg);
    width: 184px;
    height: 161px;
    margin: 23px 7px 0 0;
}

.sns-photo7 {
    background: url(../image/202106111040462188_l.jpg) no-repeat;
    width: 380px;
    height: 162px;
    margin: 23px 0 0 7px;
}

.search-point {
    width: 100%;
    height: 870px;
    background: var(--main-color);
}

.search-point-text {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    width: 1230px;
    margin: 0 auto 24px auto;
}

.search-small,
.search-big {
    color: #fdfdfd;
}

.map-search {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 695px;
    height: 450px;
    margin-right: 53px;
}

.search > h2 {
    font-size: 32px;
    color: #fdfdfd;
    margin-bottom: 14px;
}

.search-box {
    width: 480px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
}

.search-box > input {
    width: 480px;
    height: 45px;
    margin-left: 20px;
    background: var(--main-color);
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #fdfdfd;
}

input::placeholder {
    color: #fdfdfd;
}

.search-box > button {
    background: var(--main-color);
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
}

.search-box > button > img {
    width: 24px;
    height: 24px;
}

.search-text-last {
    width: 481px;
    height: 323px;
    margin-top: 19px;
    background: rgba(253,253,253,0.2);
}

.search-text-title {
    padding: 52px 0 41px 52px;
    font-size: 24px;
    color: #fdfdfd;
    z-index: 9999;
}

.search-text-small {
    margin-left: 52px;
    font-size: 16px;
    color: rgba(253,253,253,0.6);
    font-weight: 100;
    line-height: 20px;
}

footer {
    background: var(--text-color);
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
}

.footer-img {
    margin: 0 40px 0 337px;
}

.footer-text {
    width: 740px;
    margin: 0 auto 0 0;
}

.footer-text > div > span {
    color: rgba(253,253,253,0.8);
    font-size: 12px;
    padding: 0 10px 5px 10px;
}

.footer-text > p {
    font-size: 10px;
    color: rgba(253,253,253,0.5);
    padding: 5px 10px;
}

.footer-line {
    border-right: 1px solid rgba(253,253,253,0.8);
}